<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login - Membership App</title>
</head>
<body>
<div>


<form th:action="@{'/doLogin'}" method="post" style="max-width: 400px; margin: 0 auto;">
     <h1>Login to Membership App</h1>
	    <p>
	        E-mail: <input type="email" name="email" required />  
	    </p>
	    <p>
	        Password: <input type="password" name="pass" required />
	    </p>
	    <p>
	        <input type="submit" value="Log Me In" />
	    </p>
	</form>
</div>
</body>
</html>